import s from './{{pascalCase name}}.module.scss'

const {{pascalCase name}} = () => {
  return <div className={ s.{{camelCase name}} }>{{pascalCase name}}</div>
}

export default {{pascalCase name}}
